:root {
    --main-dark-: #1e1e2f;
    --main-white: #ffffff;
    --main-purple: #e14eca;
    --main-bg: #27293d;

}


#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
